<!DOCTYPE html>
<html>
    <head>
        <title>My Django blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>
		<br/>
        <article>
            <time>Published: 26/06/2022, 17:35</time>
            <h2><a href="">My first post</a></h2>
            <p>First Content goes here</p>
        </article>
		<br/>
        <article>
            <time>Published: 26/06/2022, 17:45</time>
            <h2><a href="">My second post</a></h2>
            <p>Second Content goes here</p>
        </article>
    </body>
</html>